<h1>Sign In to Your Account</h1>

<%= form_tag session_path do %>
<ol>
  <li>
    <%= label_tag "email" %>
    <%= text_field_tag "email", nil, :class => "field required" %>
  </li>

  <li>
    <%= label_tag "password" %>
    <%= password_field_tag "password", nil, :class => "field required" %>
  </li>

  <li class="form-footer">
    <%= submit_tag "Sign in", :class => "button primary" %> 
    <span>|</span>
    <%= link_to "Create an account", new_users_path %>
  </li>
</ol>
<% end %>