<li><%= f.input :first_name %></li>
<li><%= f.input :last_name %></li>
<li><%= f.input :company_name %></li>
<li><%= f.input :email %></li>
<li><%= f.input :password %></li>
<li><%= f.input :password_confirmation %></li>