<%= f.file_field :avatar, :label => 'Upload an Avatar Image' %>
<%= f.input :first_name %>
<%= f.input :last_name %>

<% if f.object.company_id.nil? %>
  <div class="company-fields"><%= f.association :company, :label => 'Choose Your Company' %> or <%= link_to_add_association 'Add a New Company', f, :company %></div>
<% end %>

<%= f.input :email %>
<%= f.input :password %>
<%= f.input :password_confirmation %>