<%= render "form" %>

<% if @images.empty? %>
  <div id='no-images-message' class='alert'><%= no_images_message %></div>
<% end %>

<ul class="images row">
  <%= render @images %>
</ul>
<%= will_paginate(@images) %>
<%= subscribe_to "/images/new" %>
