<%= render "form" %>

<% if @images.empty? %>
  <div id='no-images-message' class='alert'><%= no_images_message %></div>
<% end %>

<ul class="images row">
  <%= render @images %>
</ul>
<%= will_paginate(@images) %>
<%= javascript_tag "$(function(){PrivatePub.subscribe('/companies/#{@current_company.bayeux_token}', function(data,channel){eval(data.js)})})" %>
<%= subscribe_to "/companies/#{@current_company.bayeux_token}" %>
