<!DOCTYPE html>
<html>
<head>
  <title>Airline</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="navbar">
      <div class="navbar-inner">
        <%= link_to "Airline", root_url, :class => 'brand' %>
        <ul class="nav pull-right">
          <% if logged_in? %>
            <li><%= link_to "Invite Coworkers", new_invitation_path %></li>
            <li><%= link_to "Sign Out", session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Sign Up", new_users_path %></li>
            <li><%= link_to "Sign In", new_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <% flash.each do |key, value| %>
      <% if [:error, :notice, :alert].include?(key) && value.present? %>
        <div class="alert <%= key %>">
          <%= value %>
        </div>
      <% end %>
    <% end %>

    <div class="row">
      <div class="span12">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
